<%= render "shared/navbar" %>
<div class="container d-flex justify-content-center mt-5">
  <div>
    <h1>Would you like to recognize your coworker?</h1>
    <div class="d-flex justify-content-center mt-4">
      <%= link_to "Sure", new_recognition_path, class: "btn btn-primary px-3 py-6" %>
    </div>
  </div>
  <div class="">
    <% @users.each do |user| %>
      <%= user.email %>
    <% end %>
  </div>
</div>