<div>
  <div>
    <h1>Would you like to recognize your coworker?</h1>
    <%= link_to "Sure", new_recognition_path %>
  </div>
  <div>
    <% @users.each do |user| %>
      <%= user.email %>
    <% end %>
  </div>
</div>