<nav class="navbar navbar-dark bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://res.cloudinary.com/kenn/image/upload/v1628190592/x_logo.png" alt="logo" width="30" height="24" class="d-inline-block align-text-top">
    </a>
    <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, class: "text-white text-decoration-none" %>
  </div>
</nav>